<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einträge</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class=" headerContainer">
        <a class="headerTitle">
           Logo
        </a>

        <nav class="headerNavLeftContainer">
            <a class="headerNavItem" href="/">Menu</a>
            <a class="headerNavItem" href="/eintraege">Einträge</a>
        </nav>

    </header>

    <div class="anzeigeContainer" id="anzeigeContainer">
        <div class="anzeigeTitle">Einträge</div>
        <div class="anzeigeContent" id="anzeigeContent">

        </div>
    </div>
    
    <script src="../static/eintraege.js"></script>
</body>
</html>