<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <title>Projekt</title>
</head>
    
<body>
    <header class=" headerContainer">
        <a class="headerTitle">
           Logo
        </a>

        <nav class="headerNavLeftContainer">
            <a class="headerNavItem" href="/">Menu</a>
            <a class="headerNavItem" href="/eintraege">Einträge</a>
        </nav>
        
    </header>

    <div class="mainContainer">
        <div class="mainTitle">Eintrag erstellen</div>
        <form class="mainContentContainer">
            <div class="nameContainer">
                <span class="nameTitle">Wie soll der Eintrag heißen?</span>
                <input class="nameInput" name="nameInput" id="nameInput" type="text" placeholder="Name der Eintrags" autocomplete="off" required>
            </div>

            <div class="typeContainer">
                <span class="typeTitle">Um welches Ereignis handelt es sich?</span>
                <select name="typeSelect" id="typeSelect" class="typeSelect">
                    <option class="typeOption" value="Arbeit">Arbeit</option>
                    <option class="typeOption" value="Freizeit">Freizeit</option>
                    <option class="typeOption" value="Sport">Sport</option>
                    <option class="typeOption" value="Schule">Schule</option>
                    <option class="typeOption" value="Sonstiges">Sonstiges</option>
                </select>
            </div>
            

            <div class="feelingContainer">
                <span class="feelingTitle">Wie geht es dir heute ?</span>
                <input class="feelingInput" type="range" name="feelingInput" id="feelingInput" max="10" min="1" value="1" required>
                <span class="feelingOutput" id="feelingOutput">Ich fühle mich 1/10.</span>
            </div>

            <div class="locationContainer">
                <span class="locationTitle">Wo befindest du dich gerade?</span>
                <input class="locationInput" id="locationInput" name="locationInput" placeholder="Momentaner Standort" type="text" autocomplete="off" required>
            </div>
            
            <div class="descriptionContainer">
               <span class="descriptionTitle">Beschreibung:</span>
               <textarea class="descriptionInput" name="descriptionInput" id="descriptionInput" placeholder="Was hast du heute gemacht?" autocomplete="off" required></textarea> 
            </div>

            <button type="submit" id="submitButton" class="submitButton">Eintrag erstellen</button>
        </form>
    </div>

    <script src="./static/script.js"></script>
</body>
</html>